# Water Potability Exploratory Notebook

In [1]:
import pyspark
import pyspark.sql.functions as F
import pyspark.sql.types as T
import sys
from pyspark.sql import SparkSession, Window, DataFrame
from pyspark.mllib.stat import Statistics

sys.path.append('/home/jovyan/work')

In [2]:
spark = SparkSession.builder.getOrCreate()

## Step 1 - Exploration

In [3]:
df = spark.read.csv('../data/water_potability.csv',inferSchema=True, header=True)

In [4]:
print('Total record count: {}'.format(df.count()))

Total record count: 3276

### Make a Train/Test Split

In [5]:
df_train, df_test = df.randomSplit([0.7, 0.3], seed=42)

# Save the train and test datasets
df_train.write\
    .format('csv')\
    .mode('overwrite')\
    .option("header", "true")\
    .save('../data/water_potability_train')

df_test.write\
    .format('csv')\
    .mode('overwrite')\
    .option("header", "true")\
    .save('../data/water_potability_test')

# Get rid of df so we don't accidentally use it
del df

In [6]:
df_train.printSchema()

root
 |-- ph: double (nullable = true)
 |-- Hardness: double (nullable = true)
 |-- Solids: double (nullable = true)
 |-- Chloramines: double (nullable = true)
 |-- Sulfate: double (nullable = true)
 |-- Conductivity: double (nullable = true)
 |-- Organic_carbon: double (nullable = true)
 |-- Trihalomethanes: double (nullable = true)
 |-- Turbidity: double (nullable = true)
 |-- Potability: integer (nullable = true)

In [7]:
print('Train record count: {}'.format(df_train.count()))

Train record count: 2353

### View Sample Rows

In [8]:
df_train.show(5)

+----+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+----------+
|  ph|          Hardness|            Solids|       Chloramines|           Sulfate|      Conductivity|    Organic_carbon|  Trihalomethanes|         Turbidity|Potability|
+----+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+----------+
|null|  98.3679148956603| 28415.57583214058|10.558949998467961|  296.843207792478|505.24026927891407|12.882614472289333|85.32995534051292| 4.119087300328971|         1|
|null|103.46475866009455| 27420.16742458204| 8.417305032089528|              null|485.97450045781375|11.351132730708514| 67.8699636759021| 4.620793451653219|         0|
|null|108.91662923953173|14476.335695268315| 5.398162017711099|  281.198274407849| 512.2323064106689|15.013793389990155| 86.6714587149138| 3.895572062268123|         1|
|null|113.17596460727073|  9943.92978526269| 6.337137942441213|354.29756524708256| 415.3383368798727| 19.67616854859483|23.07580599653685| 3.787475537347365|         1|
|null| 114.7335449715346| 13677.99404000127| 9.981200455815905|441.82677662870003|  524.000355172102|11.384858471731945|71.15328465919002|3.2938483740192734|         1|
+----+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+----------+
only showing top 5 rows

So, this is a binary classification problem with target values of notckd (not chronic kidney disease) and ckd (chronic kidney disease). **Note:** There is an extraneous tab (\t) on at lease one of the target values. We will have to fix that up.

### Target Column Distribution

In [9]:
freq_table = df_train.select(F.col("Potability").cast("integer")).groupBy("Potability").count().toPandas()
freq_table

   Potability  count
0           1    905
1           0   1448

This is a binary classification problem with a somewhat imbalanced dataset.

### Summary Statistics

In [10]:
df_train.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
ph,1987,7.065394544064872,1.612338730707101,0.0,13.541240236567981
Hardness,2353,196.85970996091234,32.83914120248886,47.432,323.124
Solids,2353,22131.281786788568,8719.781557904313,320.942611274359,61227.19600771213
Chloramines,2353,7.134664863542833,1.5939471833043641,0.3520000000000003,13.127000000000002
Sulfate,1812,333.8051408041043,41.550506072620976,129.00000000000003,481.03064230599716
Conductivity,2353,425.74124559272485,80.696216405619,181.483753985146,753.3426195583046
Organic_carbon,2353,14.237178459474823,3.272659356030207,2.1999999999999886,27.00670661116601
Trihalomethanes,2229,66.27958491438079,16.241327199504088,8.175876384274268,120.03007700530675
Turbidity,2353,3.969157865709428,0.7823760214428234,1.45,6.739
Potability,2353,0.38461538461538464,0.4866076679433938,0,1

### Null Counts

In [11]:
for col in df_train.columns:
    print('{} Null Count: {}'.format(col, df_train.where(F.col(col).isNull()).count()))

ph Null Count: 366
Hardness Null Count: 0
Solids Null Count: 0
Chloramines Null Count: 0
Sulfate Null Count: 541
Conductivity Null Count: 0
Organic_carbon Null Count: 0
Trihalomethanes Null Count: 124
Turbidity Null Count: 0
Potability Null Count: 0

We have nulls to deal with for pH, sulfates, and trihalomethanes.

## Step 2 - Pipeline Development

In [12]:
from pyspark.ml.feature import Imputer
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler, PolynomialExpansion, StandardScaler

### Impute Missing Values

In [13]:
imputer = Imputer(
    inputCols=['ph', 'Sulfate', 'Trihalomethanes'],
    outputCols=['ph_imp', 'Sulfate_imp', 'Trihalomethanes_imp']
)
df_imputed = imputer.setStrategy("mean").fit(df_train).transform(df_train)
df_imputed = df_imputed.select('Hardness','Solids','Chloramines','Conductivity',
                              'Organic_carbon','Turbidity','ph_imp', 'Sulfate_imp', 
                              'Trihalomethanes_imp', 'Potability')
df_imputed.show(10)

+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-------------------+----------+
|          Hardness|            Solids|       Chloramines|      Conductivity|    Organic_carbon|         Turbidity|           ph_imp|       Sulfate_imp|Trihalomethanes_imp|Potability|
+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-------------------+----------+
|  98.3679148956603| 28415.57583214058|10.558949998467961|505.24026927891407|12.882614472289333| 4.119087300328971|7.065394544064872|  296.843207792478|  85.32995534051292|         1|
|103.46475866009455| 27420.16742458204| 8.417305032089528|485.97450045781375|11.351132730708514| 4.620793451653219|7.065394544064872| 333.8051408041043|   67.8699636759021|         0|
|108.91662923953173|14476.335695268315| 5.398162017711099| 512.2323064106689|15.013793389990155| 3.895572062268123|7.065394544064872|  281.198274407849|   86.6714587149138|         1|
|113.17596460727073|  9943.92978526269| 6.337137942441213| 415.3383368798727| 19.67616854859483| 3.787475537347365|7.065394544064872|354.29756524708256|  23.07580599653685|         1|
| 114.7335449715346| 13677.99404000127| 9.981200455815905|  524.000355172102|11.384858471731945|3.2938483740192734|7.065394544064872|441.82677662870003|  71.15328465919002|         1|
|116.90547929864171| 27151.31290232548|10.185348221604038| 372.0023185483472| 13.50723191973185|3.5162378046280005|7.065394544064872| 333.8051408041043|  63.27369649272616|         1|
|129.88329651550774| 8906.975623139486| 6.827900879738104| 525.2247169516716| 17.65741087353132|3.8421139861035956|7.065394544064872| 327.5517886889327| 32.185378220561205|         1|
|129.89057234567383|34415.853145873094| 6.321928990361139| 470.3291685421987| 18.59940992382127|  4.40558600033858|7.065394544064872| 304.5352242338838|  72.40363386888095|         0|
|130.55856146255113|17429.584949659697|6.3176544269347366| 524.6456427603447|15.318048390229194| 5.541322279631281|7.065394544064872| 322.0595875907542|  75.37640813561349|         0|
|134.67925657493728|30211.832990855128| 4.792361012310782| 391.8209641138389|18.999153524212886|3.8408887616175593|7.065394544064872|234.28562144513518|  66.27958491438079|         1|
+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-------------------+----------+
only showing top 10 rows

### Create Feature Vector

In [14]:
vec_assembler = VectorAssembler(
    inputCols=['Hardness','Solids','Chloramines','Conductivity','Organic_carbon',
               'Turbidity','ph_imp', 'Sulfate_imp', 'Trihalomethanes_imp'],
    outputCol='Features'
)
df_features = vec_assembler.transform(df_imputed)
df_features.select('Features').take(1)

[Row(Features=DenseVector([98.3679, 28415.5758, 10.5589, 505.2403, 12.8826, 4.1191, 7.0654, 296.8432, 85.33]))]

### Scale the Features

In [15]:
scaler = StandardScaler(
    inputCol='Features', outputCol='ScaledFeatures',
    withStd=True, withMean=True
)

scalerFit = scaler.fit(df_features)

df_features_scaled = scalerFit.transform(df_features)
df_features_scaled.select('ScaledFeatures').take(1)

[Row(ScaledFeatures=DenseVector([-2.9992, 0.7207, 2.1483, 0.9852, -0.4139, 0.1916, -0.0, -1.0138, 1.2052]))]

### Perform Polynomial Feature Expansion

In [16]:
poly_feature_exp = PolynomialExpansion(degree=3, inputCol="ScaledFeatures", outputCol="PolynomialFeatures")
poly_features = poly_feature_exp.transform(df_features_scaled)
poly_features.select('PolynomialFeatures').take(1)

[Row(PolynomialFeatures=DenseVector([-2.9992, 8.9953, -26.9789, 0.7207, -2.1615, 6.4829, 0.5194, -1.5578, 0.3743, 2.1483, -6.4432, 19.3247, 1.5483, -4.6436, 1.1158, 4.6152, -13.842, 3.3262, 9.9149, 0.9852, -2.9547, 8.8619, 0.71, -2.1295, 0.5117, 2.1164, -6.3476, 1.5253, 4.5467, 0.9705, -2.9109, 0.6995, 2.085, 0.9561, -0.4139, 1.2414, -3.7232, -0.2983, 0.8947, -0.215, -0.8892, 2.6669, -0.6408, -1.9103, -0.4078, 1.223, -0.2939, -0.876, -0.4017, 0.1713, -0.5138, 0.1235, 0.368, 0.1688, -0.0709, 0.1916, -0.5748, 1.7238, 0.1381, -0.4142, 0.0995, 0.4117, -1.2347, 0.2967, 0.8844, 0.1888, -0.5662, 0.1361, 0.4056, 0.186, -0.0793, 0.2379, -0.0572, -0.1704, -0.0781, 0.0328, 0.0367, -0.1101, 0.0265, 0.0789, 0.0362, -0.0152, 0.007, -0.0, 0.0, -0.0, -0.0, 0.0, -0.0, -0.0, 0.0, -0.0, -0.0, -0.0, 0.0, -0.0, -0.0, -0.0, 0.0, -0.0, 0.0, 0.0, 0.0, -0.0, -0.0, 0.0, -0.0, -0.0, -0.0, 0.0, -0.0, 0.0, -0.0, 0.0, 0.0, 0.0, -0.0, 0.0, -0.0, -1.0138, 3.0405, -9.1191, -0.7306, 2.1913, -0.5265, -2.1779, 6.5319, -1.5696, -4.6787, -0.9987, 2.9954, -0.7198, -2.1456, -0.9839, 0.4196, -1.2585, 0.3024, 0.9014, 0.4134, -0.1737, -0.1943, 0.5827, -0.14, -0.4174, -0.1914, 0.0804, -0.0372, 0.0, -0.0, 0.0, 0.0, 0.0, -0.0, 0.0, -0.0, 1.0277, -3.0824, 0.7407, 2.2079, 1.0125, -0.4254, 0.1969, -0.0, -1.0419, 1.2052, -3.6145, 10.8408, 0.8685, -2.605, 0.626, 2.589, -7.7651, 1.8659, 5.5621, 1.1873, -3.5609, 0.8557, 2.5506, 1.1697, -0.4988, 1.4961, -0.3595, -1.0716, -0.4914, 0.2065, 0.2309, -0.6927, 0.1664, 0.4961, 0.2275, -0.0956, 0.0443, -0.0, 0.0, -0.0, -0.0, -0.0, 0.0, -0.0, 0.0, -1.2217, 3.6643, -0.8805, -2.6247, -1.2036, 0.5057, -0.2341, 0.0, 1.2386, 1.4524, -4.3561, 1.0467, 3.1202, 1.4309, -0.6012, 0.2783, -0.0, -1.4724, 1.7504]))]